*{
    margin: 0px;
    padding: 0px;
}
html ,body{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0.10rem;
    height: max-content;
    box-sizing: border-box;
}

.header img {
    width: 150px;
    align-self: flex-start;
}

.header a {
    flex: 1;
    text-align: center;
    min-width: max-content;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0066CC;
    transition: color 0.4s;
}

.header a:hover {
    color: beige;
}

.header a::after {
    content: '';
    width: 0;
    display: block;
    transition: all 0.3s linear;
}

.header a:hover::after {
    background-color: red;
    width: 100%;
    height: 3px;
    display: block;
}
.container1 {
    position: relative;
    width: 90%;
    height: 125px;
    background-color: grey;
    opacity: 0.6;
    border-radius: 15px;
    left: 5%;
}

.container1 h2 {
    position: absolute;
    width: 70%;
    top: 15%;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}



.container1 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   
    transition: color 0.25s, font-size 0.25s;
    
}
.container1 p {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20%;
    top: 45%;
}

.container1 i {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}

.container1 a:hover {
    color: red;
    font-size: 24px;
}

.container2{
    position: relative;
    display: grid;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 3fr 2fr;
    margin-top: 1rem;
    height: max-content;
    margin-bottom: 2rem;
    & img{
        min-width: 370px;
        min-height: 300px;
    }
}
.text{
    box-sizing: border-box;
}
.text h3{
    color:blue;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-left: 3rem;
}
.text p{
    color:beige;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.container2 img,.container3 img,.container4 img,.container5 img,.container6 img,.container7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container3{
    position: relative;
    display: grid;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    margin-top: 1rem;
    height: max-content;
    margin-bottom: 2rem;
    & img{
        object-position: 70%;
        min-width: 370px;
    }
}
.container4{
    position: relative;
    display: grid;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 3fr 2fr;
    margin-top: 1rem;
    height: max-content;
    margin-bottom: 2rem;
    & img{
        min-width: 370px;
    }
    
}
.container5{
    position: relative;
    display: grid;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    margin-top: 1rem;
    height: max-content;
    margin-bottom: 2rem;
    & img{
        min-width: 370px;
    }
}
.container5 p{
    margin-bottom: 1rem;
    
}
.container5 li{
    position: relative;
    margin-left: 2rem;
    font-size: 18px;
    color:rgb(55, 55, 55);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.4rem;
}
.container6{
    position: relative;
    display: grid;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 3fr 2fr;
    margin-top: 1rem;
    height: max-content;
    margin-bottom: 2rem;
    & img{
        min-width: 375px;
        max-height: 440px;
    }
}
.subcontainer1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.subcontainer1 li{
    position: relative;
    margin-left: 4rem;
    font-size: 18px;
    color:rgb(220,240,200);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.4rem;
}
.subcontainer1 ul{
    margin-top: 1rem;
}
.container7{
    position: relative;
    display: grid;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    margin-top: 1rem;
    height: max-content;
    margin-bottom: 2rem;
    & img{
        min-width: 370px;
        min-height: 300px;
    }
}
footer{
    height: max-content;
    margin-top: 2rem;
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative; 
    padding-bottom: 1rem;
}
    @media (max-width:849px) {
        .container2,.container4,.container6{
            display: flex;
            flex-direction: column;
            
        }
        .container3,.container5,.container7{
            display: flex;
            flex-direction: column;
            & .text{
                order: -1;
            }
        } 
    }

    @media(min-width:850px) and (max-width:1000px){
        
        .container6{
            grid-template-columns: 1fr 1fr;
        }
        
    }
    @media(max-width:650px){
        .header{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column: 2fr 1fr;
            justify-items: center;
            box-sizing: border-box;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            
           
         }
         .header img{
            grid-column-start: 2;
            grid-column-end:4;
            text-align: center;
        }
        .header a{
            grid-row-start: 2;
           margin-bottom: 1rem;
            
        }
    }


